
body
{
	background-image: linear-gradient(to right, #101820, #8A2A2B, #F2C763);
	font-family: cambria;
	font-size: 20px;
}

* {
  box-sizing: border-box;
}

.panelContainer {
	height: 45vw;
}

#title {
	font-family: lucida cansole;
	font-size: 50px;
	text-align: center;
	color: white;
	border-bottom: 1px solid white;
}

#content {
	font-family: georgia, monospace;
	font-size: 30px;
	text-align: justify;
}


						/*PANEL, GREETING, GROUP NAME*/
	
/* ROW 1 BACKGROUND IMAGE */
#panelImg {
	background-image: url("../images/dreamcatcher/panel_img.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.row1-section1 {
	width: 16.66%;
	float: left;
}

.row1-section2 {
	width: 83.33%;
	float: right;
	padding-top: 10%;
	background: rgba(254, 249, 249, 0.4);
}

#greeting {
	font-family: Monaco;
	font-size: 3vw;
	float: right;
	padding-right: 20%;
	background: -webkit-linear-gradient(#101820, #8A2A2B, #F2C763);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
	border-bottom: 1px solid #F7CAC9;
}

#groupname {
	font-family: garamond;
	font-size: 9vw;
	font-weight: bold;
	background: -webkit-linear-gradient(#101820, #8A2A2B, #F2C763);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
	border-bottom: 1px solid #91A8D0;
}

							/* ABOUT DREAMCATCHER */

.row2-section1-title {
	padding: 5% 25% 5% 25%;
}

/* to change the background of the title <div> on hover*/
.row2-section1-title:hover {
	background-image: linear-gradient(to left, #101820, #8A2A2B, #F2C763);
}

.row2-section1-content {	
	padding: 2% 16.66% 0% 16.66%;
	overflow: auto;
}
							/* ABOUT DREAMCATCHER: MINX */

.row2-section2-title {
	padding: 5% 25% 5% 25%;
}

/* to change the background of the title <div> on hover*/
.row2-section2-title:hover {
	background-image: linear-gradient(to left, #101820, #8A2A2B, #F2C763);
}

.row2-section2-content {
	padding: 0% 16.66% 2% 16.66%;
	overflow: auto;
	font-size: 0.9em;
}

/* used to add padding in a part of content */
.spanPadding {
	padding-left: 25%;
}

							/* MEMBERS */

.row3-title {
	padding: 5% 25% 5% 25%;
}

/* to change the background of the title <div> on hover*/
.row3-title:hover {
	background-image: linear-gradient(to left, #101820, #8A2A2B, #F2C763);
}

/* to align the headings used on the card if images */
h2 {
	text-align: center;
}

							/* DISCOGRAPHY */

.row4-title {
	padding: 5% 25% 5% 25%;
}

/* to change the background of the title <div> on hover*/
.row4-title:hover {
	background-image: linear-gradient(to left, #101820, #8A2A2B, #F2C763);
}

							/* IMAGE COLUMNS */

/* implementing flexbox to align the images and distribut the size with the container */
.row {
  display: -ms-flexbox; 	/* to work with IE10 */
  display: flex;
  -ms-flex-wrap: wrap;		/* IE10 */
  flex-wrap: wrap;			/* to make the flexible items wrap if necessary */
  padding: 0 4px;			/* top, left padding */
}

/* to create three equal columns side by side */
.column {
  -ms-flex: 33.33%;		 /* IE10 */
  flex: 33.33%;			/* size of each column */
  max-width: 33.33%;
  padding: 0 4px;
}

/* properties of <img> in class column */
.column img {
	margin-top: 8px;
	vertical-align: middle;
	width: 100%;
	opacity: 0.8;
	padding: 1px;
	margin-bottom: 16px;
}

/* properties of <img> in class column on hover */
.column img:hover {
	opacity: 1.0;
	padding: 0px;
}

/* Responsive layout: makes a two column-layout instead of three columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 66.66%;
    flex: 66.66%;
    max-width: 66.66%;
  }
}

/* Responsive layout: makes the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

								/* CARD USED FOR IMAGES */
								
/* shadow appears to left and bottom of the card */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  margin: 8px;
}

.container {
  padding: 0 16px;
}

/* after every class conatiner element, and class row element */
.container::after, .row::after {
  content: "";		/* used to insert "" */
  clear: both;		/* floating elements are not allowed on both, left and right, sides */
  display: table;	/* makes the element behave like a <table> element */
}
