
					/*ROUND ICONS*/
.fa {
  padding: 18px;
  font-size: 30px;  
  text-align: center;
  text-decoration: none;
  margin: 2px 2px;
  border-radius: 50%;
  float: right;
}

					/*HOVER EFFECT ON THE ICONS*/
.fa:hover {
    opacity: 0.7;
}

					/*TWITTER*/
.fa-twitter {
  background: #55ACEE;
  color: white;
}

					/*YOUTUBE*/
.fa-youtube {
  background: #bb0000;
  color: white;
}

					/*INSTAGRAM*/
.fa-instagram {
  background: #125688;
  color: white;
}
